extends layout.pug

block content
    div.row.my-5(style={'margin-top': '80px'})
        div.col-md-8.col-md-offset-2
            div.panel.panel-default
                div.panel-heading Register
                div.panel-body
                    if(errors)
                        div.alert.alert-danger
                            ul
                                each error in errors
                                    li= error.msg 
                    form(class="form-horizontal",method="POST",action="/dashboard/register")
                        div.form-group
                            label.col-lg-4.control-label Name
                            div.col-lg-6
                                input(class="form-control",type="text",name="name", value=(name) ? name : "")
                        div.form-group
                            label.col-lg-4.control-label E-Mail Address
                            div.col-lg-6
                                input(class="form-control",type="text",name="email", value=(email) ? email : "")
                        div.form-group
                            label.col-lg-4.control-label Password
                            div.col-lg-6
                                input(class="form-control",type="password",name="password")
                        div.form-group
                            label.col-lg-4.control-label Passwored Confirm
                            div.col-lg-6
                                input(class="form-control",type="password",name="password_confirm")
                        div.form-group
                            div.col-md-6.col-md-offset-4
                                button.btn.btn-primary Register

